html {
    position: relative;
    height: 100%;
    padding-bottom:160px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 87px;
  }
  #logo {
    width: 100px;
    height: auto;
  }
  #mapcontainer{
    height: 80vh;
    width: 100%;
  }
  #map {
    width: 100%;
    height: 100%;
    margin-bottom: 300px;
  }
  
  
  
  
    /* Define breakpoints for different screen sizes */
    @media (min-width: 1200px) {
      /* Styles for screens 1200px and above */
      /* For example: */
      /* Increase font size for headings */
      h1 {
        font-size: 2rem;
      }
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
      /* Styles for screens between 992px and 1199px */
      /* For example: */
      /* Reduce padding for navigation items */
      nav li {
        padding: 0.5rem;
      }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
      /* Styles for screens between 768px and 991px */
      /* For example: */
      /* Stack grid items vertically */
      .grid-item {
        flex-direction: column;
      }
    }
    
    @media (max-width: 767px) {
      /* Styles for screens 767px and below */
      /* For example: */
      /* Hide sidebar */
      .sidebar {
        display: none;
      }
    }
    
    @media (min-width: 2560px) {
      /* Styles für Bildschirme mit einer Breite von 2560px und größer */
      /* Zum Beispiel: */
      /* Vergrößern Sie die Schriftgröße für Überschriften */
      h1 {
        font-size: 2.5rem;
      }
    }
  
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  /*
  .popup-content {
    text-align: center;
  }*/
  
  .closeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }